.Spends {
    text-align: center;
    background-color: #adaaa4;
    width: 100%;
    min-height: 100vh;
    background-size: cover;

}

.Spends-table {
    width: 50%
}


.Spends-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Spends-link {
    color: #61dafb;
}


